.produto {
    margin: 20px;


    &-imagem {
        width: 100%;
    }

    &-nome {
        font-size: 1.2em;
        margin: 8px 0;
    }

    &-descricao {
        color: gray;
    }

    &.em-destaque {
        border: 2px solid gold;
        padding: 8px;
        background-color: #ffff42;
    }
}